html, body {
  background: #fff;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.svg-wrapper {
  height: 432px;
  width: 432px;
}

.rotate {
  animation-name: rotate;
  animation-duration: 0.5s;
  transform-origin: center;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(-60deg) scale(1.4) translate(-15px, 30px); fill: #f06d06; left: 20px;}
  100% { transform: rotate(0deg);  }

}
