html, body {
  background: #fff;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.svg-wrapper {
  height: 432px;
  width: 432px;
}

.rotate {
  animation: rotate 3s infinite linear;
  transform-origin: center;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);  }
}
